<!doctype html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- Main body of page -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right side -->
                    <div class="col-md-4 col-1 main_header_right align-items-center">
                        <figure>
                            <img src="./images/bg6.png" alt="Deven" class="img-fluid" title="devenkapadia">
                        </figure>
                    </div>
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello I am Deven Kapadia
                        </p>
                        <h1>I am a<span class="text"> Web Development </span>enthusiast</h1>
                        <p>You can find my resume here</p>
                        <a href="#"><button>My Resume</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        {{>footer}} </footer>
</body>

</html>